<!DOCTYPE html>
    <body>
        <form action="/registration" method="POST">
            <input 
            type = "text"
            placeholder="Name"
            name="Name"

        />
        <br/>
        <input
            type = "text"
            placeholder="Address"
            name="Address"

        />
        <br/>
        <input
            type="email"
            placeholder="email"
            name = "email"
        />
        <br/>
        <input
            type = "phone"
            placeholder="phone"
            name="phone"
        />
        <br/>
        <button>Submit</button>
        </form>
    </body>
</html>